#firstConnectionContainer {
  width: 100%;
  margin: auto;
  text-align: center;
}

#firstConnectionContainer img {
  margin: 0 auto;
}

#formId {
  width: 50%;
  margin: auto;
}

#nicknameInput {
  height: 40px;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
  cursor: text;
  width: 50%;
}

#continueButton {
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #232323;
  height: 60px;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  width: 50%;
  cursor: pointer;
  width: 50%;
}

#errorMessage {
  color: red;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  text-align: justify;
  font-family: Helvetica, sans-serif;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#submitButton {
  margin-top: 15px;
  background-color: #232323;
  height: 45px;
  color: white;
  font-size: 14px;
  border-radius: 10px;
  border: none;
  width: 15%;
  cursor: pointer;
  text-align: center;
  width: 20%;
  margin-left: 40%;
}

.modal-content button:hover {
  background-color: white;
  color: #232323;
  border: 2px solid #232323;
}