footer {
    position: fixed;
    left: 0;
    padding: 10px;
    bottom: 0px;
    text-align: center;
    width: 100%;
    font-family: Helvetica;
    color: rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

body {
    margin-bottom: 40px !important;
}