body {
  background-image: url("/image/beer-tile.jpg");
  background-repeat: repeat;
  background-size: 400px 400px;
}

#indexContainer {
  width: 100%;
  margin: auto;
  text-align: center;
}


#menuContainer {
  width: 50%;
  margin: auto;
}


#createRoomButton {
  background-color: #333333;
  height: 60px;
  color: white;
  font-size: 18px;
  border-radius: 10px;
  border: none;
  width: 50%;
  cursor: pointer;
  width: 50%;
  margin: 24px;
}

.tooltip {
  position: relative;
  display: inline-block;
  text-decoration: underline;
}

.tooltip~.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover~.tooltiptext {
  visibility: visible;
}