body {margin: 0;}

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}
ul.topnav li.right {float: right;}


ul.topnav li div, ul.topnav li a{
  display: block;
  color: white;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}


#leaveRoom { background-color: #911;}
#leaveRoom:hover:not(.active) {background-color: #c11;}

#inviteFriends { background-color: #191;}
#inviteFriends:hover:not(.active) {background-color: #1c1;}


.dropdown-content {
  display: none !important;
  color: black !important;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block !important;
}