div#usersInfos {
  float:left;
}

table#usersInfos {
  width: auto !important;
  margin-left: 50px;
  margin-right: 50px;
}

table#usersInfos > tbody > tr.expired > td{background-color: #d77 !important}
table#usersInfos > tbody > tr.expired:nth-child(even) > td {background-color: #faa !important;}
table#usersInfos > tbody > tr.expired:hover > td {background-color: #a55 !important;}

table#usersInfos > tbody > tr.expired > td.sorting_1 {background-color: #d66 !important}
table#usersInfos > tbody > tr.expired:nth-child(even) > td.sorting_1 {background-color: #f99 !important;}
table#usersInfos > tbody > tr.expired:hover > td.sorting_1 {background-color: #a44 !important;}

th {
  background-color: darkblue;
  color: white;
}

table tr:not(:first-child) {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}